# Yocto Project

/artifacts/

# # repo manifests
.repo/

# Temporary build directories and outputs
/build*/*.log
/build*/buildhistory/
/build*/cache/
/build*/deploy/
/build*/sstate-cache/
/build*/tmp/
/build*/conf/*
!build*/conf/bblayers.conf
!build*/conf/local.conf

/sstate-cache/

# Download files
/downloads/

# Layers
/layers/

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
